.Home_Cards_Corps {
    width: 40%;
    height: 150px;
    outline: none;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 915px) {
    .Home_Cards_Corps {
        width: 60%;
        height: 100px;
        outline: none;
        color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }
}


.Home_Cards_Title {
    height: 20%;
    width: 100%;
    font-weight: bolder;
}

.Home_Cards_Img {
    height: 80%;
    width: 100%;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-radius: 15px;
}
